@model IEnumerable<SchoolApp.Models.ParentMessage>

<style>
    .card-header {
        background-color: darkblue;
    }

    .bod {
        border-color: black;
    }
</style>

<div class="header1 mb-2">
    <div class="alert mb-1 alert-primary d-flex align-items-center" id="form1" role="alert" style="border-bottom-color:darkblue; border-bottom-width:3px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi el bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg>
        <div class="el">
            <strong>Teacher Dashboard</strong>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-6 bod">
        <div class="card mb-4 bod">
            <div class="card-header text-white">
                <i class="fas fa-message me-1"></i>
                My Messages (From Parents)
            </div>
            <div class="card-body">

                <strong>Message: </strong> @ViewData["Message"]<hr />
                <strong>Message Type: </strong> @ViewData["MType"]<hr />
                <strong>Learner: </strong> @ViewData["Learner"]<hr />
                <strong>Date: </strong> @ViewData["Date"]<hr />
                <strong>Sent By: </strong> @ViewData["By"]<hr />

                @foreach(var item in Model)
                {
                 <strong>Attachment: </strong> <a href="@Url.Action("AttachmentDownload","ParentNotification",new {filename = @item.Attachment})"> Download</a>
                }

            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4 bod">
            <div class="card-header text-white">
                <i class="fas fa-chart-bar me-1"></i>
                My Learners Assessments
            </div>
            <div class="card-body">

                <strong>Subject: </strong> @ViewData["Subj"]<hr />
                <strong>Assessment Date: </strong> @ViewData["AssDate"]<hr />
                <strong>Assessment Time: </strong> @ViewData["Time"]<hr />
                <strong>Assessment Type: </strong> @ViewData["Type"]<hr />
                <strong>Assessment Venue: </strong> @ViewData["Venue"]<hr />
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card mb-4 bod">
            <div class="card-header text-white">
                <i class="fas fa-chart-bar me-1"></i>
                My Upcoming Meetings
            </div>
            <div class="card-body">
                <strong>Meeting Date: </strong> @ViewData["MeetingDate"]<hr />
                <strong>Requested By: </strong> @ViewData["CreatedBy"]<hr />
                <strong>Meeting Time: </strong> @ViewData["MeetingTime"]<hr />
                <strong>Meeting Urgency: </strong> @ViewData["Urgency"]<hr />
                <strong>Meeting Venue: </strong> @ViewData["Venue"]<hr />

            </div>
        </div>
    </div>
</div>


