@model dynamic
@using SchoolApp.eNums

@{
    ViewData["Title"] = "Add User Qualification";
}
<head>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
</head>

<style>

    .form-control, .accordion-item {
        border-color: black;
    }

    .acchead {
        background-color: #2774F1
    }

    .select2-selection__rendered {
        line-height: 31px !important;
    }

    .select2-container .select2-selection--single {
        height: 38px !important;
        border-color: black;
        border-left: solid 5px darkblue;
    }

    .select2-selection__arrow {
        height: 34px !important;
    }

    .desc, .form-control {
        border-left: solid 5px darkblue;
    }

    .card-header, .head {
        background-color: darkblue;
    }

    a {
        text-decoration: none;
    }

    .card-border, .table {
        border-color: black;
    }

    .ref {
        background-color: darkblue;
    }

    .attach {
        margin-left: 62px;
    }
</style>

<div class="header1">
    <div class="alert mb-1 alert-primary d-flex align-items-center" id="form1" role="alert" style="border-bottom-color:darkblue; border-bottom-width:3px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi el bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg>
        <div class="el">
            <strong>Add Qualifications for: @ViewData["details"]</strong>
        </div>
    </div>
</div>

<div class="row">
    <div>
        <form asp-action="AddUserQualification">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div hidden>
                @Html.TextBox("EmployeeId", ViewData["EmployeeId"], new {htmlAttributes = new {@class="form-control", @name="EmployeeId"}})
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label"> Qualification Type</label>
                    <select name="QualificationType" class="form-control type" asp-items="Html.GetEnumSelectList<eQualificationType>()">
                        <option selected="selected" value="">Select Qualification Type</option>
                    </select>
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label">Qualification Name</label>
                    <input required name="QualificationName" class="form-control" />
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label">Institution</label>
                    <input required name="Institution" class="form-control" />
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label">From</label>
                    <input type="date" name="From" class="form-control" />
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label">Till</label>
                    <input type="date" required name="Till" class="form-control" />
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label">Status</label>
                    <select required name="Status" class="form-control status" asp-items="Html.GetEnumSelectList<eQualificationStatus>()">
                        <option selected="selected" value="">Select Qualification Status</option>
                    </select>
                </div>
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-outline-success"><i class="fa fa-save"></i> Save</button>
                    <button type="reset" class="btn btn-primary"><i class="fa fa-undo"></i> Reset</button>
                    <button type="button" class="btn btn-warning attach" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa fa-plus"></i> Add Attachments</button>
                    <button type="button" class="btn btn-outline-danger float-end"><i class="fa fa-window-close"></i> Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="header1 mt-3">
    <div class="alert mb-1 alert-primary d-flex align-items-center" id="form1" role="alert" style="border-bottom-color:darkblue; border-bottom-width:3px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi el bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg>
        <div>
            <strong>My Qualification(s)</strong>
        </div>
    </div>
</div>

<table class="table mr-5 ml-5 table-striped" id="datatablesSimple">
    <thead class="head">
        <tr>

            <th>

            </th>

            <th class="text-white">
                Qualification Type
            </th>

            <th class="text-white">
                Qualification Name
            </th>

            <th class="text-white">
                Institution
            </th>

            <th class="text-white">
                Qualification Status
            </th>
            <th class="text-white">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Qualification qualification in Model.SujectInstance)
        {
            <tr>

                <td>
                    <a href="@Url.Action("ModifyQualification", "Qualification",new {QualificationId = qualification.QualificationId})"> Open</a>
                </td>

                <td>
                    @qualification.QualificationType
                </td>

                <td>
                    @qualification.QualificationName
                </td>

                <td>
                    @qualification.Institution

                </td>

                <td>
                    @qualification.Status

                </td>

                <td>
                    <a class="text-danger" href="@Url.Action("RemoveQualification", "Qualification",new {QualificationId = qualification.QualificationId})"> Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<form asp-action="AddUserAttachment" asp-controller="Attachment">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">User Attachments Upload</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input name="EmployeeId" class="form-control" hidden />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Document</label>
                                <select name="AttachmentType" class="form-control" asp-items="Html.GetEnumSelectList<eAttachment>()">
                                    <option selected="selected" value="">Select Attachment</option>
                                </select>
                            </div>

                            <div class="form-group col-md-6">
                                <label class="control-label"> Attachment</label>
                                <input name="AttachmentFile" type="file" class="form-control" />
                            </div>
                            <br />
                            <div class="modal-footer">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>





<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function() {

      $('.status,.type').select2();

    });
</script>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


